@import "variables";

.ngma-movie-details-container {
  width: 100%;
}

.ngma-movie-cover {
  position: relative;
  max-height: 25em;
  overflow: hidden;

  img {
    width: 100%;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(4, 6, 13, 0) 15%,
      rgba(237, 103, 30, 0.4) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(4, 6, 13, 0) 15%,
      rgba(237, 103, 30, 0.4) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(4, 6, 13, 0) 15%,
      rgba(237, 103, 30, 0.4) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#182b54',GradientType=0 ); /* IE6-9 */
  }
}

.ngma-movie-details {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 2em;
  transform: translateY(-4em);
}

.ngma-movie-contents {
  padding: 0 1em;
  color: darken($light, 35);

  h2 {
    color: $primary-title;
    margin-top: 0;
    font-size: 44px;
  }

  .ngma-movie-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    text-transform: capitalize;
    margin-top: 25px;

    div {
      margin-right: 1em;
    }

    strong {
      color: $primary-title;
    }
    .ngma-icon-container {
      background-position: center;
      background-size: cover;
      border: 1px solid $orange;
      line-height: 2;
    }
    .ngma-avatar {
      flex-shrink: 0;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      -o-object-fit: cover;
      object-fit: cover;
    }
    .ngma-actorname {
      font-size: 12px;
    }
    .ngma-actor-details {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      min-width: 200px;
      padding: 5px;
    }
  }

  .ngma-movie-rating-container {
    a {
      margin-left: 0.5em;
      background-color: $secondary-color;
      color: $grey;
      padding: 0.4em;
      border-radius: 5px;
      text-decoration: none;
    }
  }

  .ngma-movie-plot {
    max-width: 70%;
    line-height: 1.8;
  }

  .ngma-plot-img {
    top: 10px;
    position: relative;
    height: 25px;
    width: 25px;
  }

  .ngma-star-img {
    top: 5px;
    position: relative;
    height: 25px;
    width: 25px;
  }

  .ngma-duration-img {
    top: 10px;
    position: relative;
    height: 20px;
  }
}

@media only screen and (max-width: 48em) {
  .ngma-movie-details {
    flex-direction: column-reverse;
    transform: translateY(0);
    padding: 0 0.5em;

    .ngma-movie-poster {
      padding: 0 1em;
    }
    .ngma-movie-info {
      display: block;
      div {
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        text-transform: capitalize;
        margin-top: 25px;
        margin-right: 0;
        margin-bottom: 1em;
      }
    }
    .ngma-movie-rating-container {
      flex-direction: column;
      span {
        display: block;
        margin-bottom: 1em;
      }
    }
    .ngma-movie-plot {
      max-width: 100%;
    }
  }
}
