<app-loader [loading]="loading"></app-loader>

<div class="ngma-movie-details-container" *ngIf="movie" [@simpleFadeAnimation]="'in'">
        <div *ngIf="(movie.Poster !== MOVIE_PROPS.NO_IMG_URL || null)" class="ngma-movie-cover">
            <img src="{{movie.Poster}}" alt="movie cover">
        </div>
    <div class="ngma-movie-details">
        <div class="ngma-movie-poster">
            <img src="{{movie.Poster}}" alt="movie poster">
        </div>
        <div class="ngma-movie-contents">
            <h2>{{movie.Title}}</h2>
            <div class="ngma-movie-info">
                <div class="ngma-movie-rate">
                    <a>
                        <img class="ngma-star-img" src="assets/icons/star.svg" alt="movie poster">
                        <strong>{{movie.imdbRating}}</strong>
                    </a>
                </div>
                <div class="ngma-movie-duration">
                    <a><img class="ngma-duration-img" src="assets/icons/duration.svg" alt="movie poster">
                        <strong>{{movie.Runtime}}</strong>
                    </a>
                </div>
                <div class="ngma-movie-rating-container">
                    <strong>Ratings:</strong>
                    <a *ngFor="let rating of movie.Ratings">
                        {{rating.Source}}
                        {{rating.Value}}
                    </a>
                </div>
            </div>
            <div class="ngma-movie-info">
                <div class="ngma-movie-rating-container">
                    <a *ngFor="let genre of movie.Genre.split(',')">
                        {{genre}}
                    </a>
                </div>
            </div>

            <p class="ngma-movie-plot">
                <img class="ngma-plot-img" src="assets/icons/plot.svg" alt="movie poster">
                {{movie.Plot}}
            </p>
            <div class="ngma-movie-info">
                <a class="ngma-actor-details">
                    <div class="ngma-icon-container ngma-avatar"
                        style="background-image: url('assets/icons/director.svg');">
                    </div>
                    <h3 class="ngma-actorname">{{movie.Director}}</h3>
                </a>
                <a *ngFor="let actor of movie.Actors.split(',')" class="ngma-actor-details">
                    <div class="ngma-icon-container ngma-avatar"
                        style="background-image: url('assets/icons/avatar.svg');">
                    </div>
                    <h3 class="ngma-actorname"> {{actor}}</h3>
                </a>
            </div>
        </div>
    </div>
</div>