@import "variables";

.ngmp-search-bar {
  position: relative;

  input {
    display: block;
    width: 100%;
    background-color: darken($primary-color, 4) !important;
    border: 1px solid darken($primary-color, 4);
    color: $primary-title;
    padding: 1.5em;
    border: none;
    outline: none;
    font-size: 1.1em;
    padding-left: 4em;

    &::-webkit-input-placeholder {
      color: $primary-color-light;
    }

    &:-ms-input-placeholder {
      color: $primary-color-light;
    }

    &::placeholder {
      color: $primary-color-light;
    }

    &:focus {
      outline: none !important;
      border: 1px solid $primary-color-light;
    }
  }

  img {
    position: absolute;
    top: calc(50% - 1.4em);
    left: 1em;
    width: 4rem;
    height: 60px;
  }
}
