<div class="ngma-sidebar">
    <a href="">MovieApp</a>
    <nav>
        <a href="#">
            <img src="assets/icons/watch.svg" alt="sidebar nav link watch">
        </a>
        <a href="#" class="active">
            <img src="assets/icons/monitor.svg" alt="sidebar nav link monitor">
        </a>
        <a href="#">
            <img src="assets/icons/folder.svg" alt="sidebar nav link folder">
        </a>
        <a href="#">
            <img src="assets/icons/favorite.svg" alt="sidebar nav link favorite">
        </a>
    </nav>
</div>