<app-search-bar (onSearch)="onSearch($event)"></app-search-bar>
<app-nav-menu (onNavMenuChange)="onNavMenuChange($event)" (showLoading)="showLoading($event)"></app-nav-menu>
<app-loader [loading]="loading"></app-loader>

<div class="ngma-main-container">
    <div *ngIf="movies; else elseBlock" class="ngma-movies-container">
        <div class="ngma-movies-list-header">
            <span class="ngma-movies-count">
                {{movies.length}} Movies
            </span>
            <div class="ngma-movies-sort"> Sort By:
                <select [(ngModel)]="sortBy" (change)="sortMovies()">
                    <option selected="true" disabled="disabled">Select</option>
                    <option value="Title">Title</option>
                    <option value="Year">Lastest</option>
                </select>
            </div>
        </div>
        <hr>
        <div class="ngma-movies-list">
            <div *ngFor="let movie of movies" class="ngma-movie">
                <a
                    [routerLink]="(movie.Poster === MOVIE_PROPS.NO_IMG_URL || null)? ['..'] :['/movies/' + movie.Type + '/' + movie.imdbID]">
                    <div *ngIf="(movie.Poster === MOVIE_PROPS.NO_IMG_URL || null);  else elseBlock"
                        class="ngma-noimageposter">
                        <img src="assets/icons/notfound.svg" alt="search icon" class="ngma-noimage">
                    </div>
                    <ng-template #elseBlock>
                        <figure>
                            <img src="{{movie.Poster}}" alt="movie poster" class="ngma-poster">
                        </figure>
                    </ng-template>

                    <h3 class="ngma-movie-title">{{movie.Title}}</h3>
                    <div class="ngma-movie-year">
                        <img src="assets/icons/calender.svg" alt="movie poster" class="ngma-rateimg">
                        {{movie.Year}}
                    </div>
                </a>
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <app-no-data></app-no-data>
    </ng-template>
</div>