@import 'variables';

:host{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}


.ngmp-main-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.ngmp-movies-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  max-height: 100vh;

  .ngmp-movies-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1em;

    .ngmp-movies-count{
      color: $secondary-title;
    }

    .ngmp-movies-sort{
      color: $primary-title;
      padding-right: 1em;
      font-size: 0.8em;
    }

    select{
      background-color: lighten($primary-color, 15);
      border: none;
      color: $primary-title;
      height: 2.5em;
      width: 9em;
      font-size: 1.2em;
      margin-left: 1em;
    }
  }

  hr{
    width: 100%;
    border-color: $primary-color-light;
    opacity: 0.6;
  }

  .ngmp-movies-list{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
  }

  .ngmp-movie{
    margin-bottom: 1.8em;
    flex-basis: 25%;

    a{
      color: $primary-title;
    }
    figure{
      padding: 0;
      margin: 0;
      img{
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
      }
    }
    .ngmp-movie-title,
    .ngmp-movie-rate{
      display: block;
      // margin-top: 0.3em;
    }

    .ngmp-movie-title{
      color: $green;
      margin: 15px 0 5px;
    }
    .ngmp-movie-rate{
      color: $grey;
      margin: 0;
    }
  }
}

@media only screen and (max-width : 48em) {
  .main-container{
    flex-direction: column;

    .genres-list{
      width: 100%;
      height: auto;
      padding: 0.8em;
    }
    .genre-list-items{
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      overflow-x: scroll;
      overflow-y: hidden;
      margin: 0;

      li{
        margin-right: 1em;
      }
    }

    .movies-container{
      width: 100%;

      .movie{
        flex-basis: 50%!important;
        justify-content: space-between;
      }
      figure{
        img{
          max-width: 8em;
        }
      }
    }
  }
}
