@import "variables";

:host {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.ngmp-main-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.ngmp-movies-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  max-height: 100vh;

  .ngmp-movies-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1em;

    .ngmp-movies-count {
      color: $secondary-title;
    }

    .ngmp-movies-sort {
      color: $primary-title;
      padding-right: 1em;
      font-size: 0.8em;
    }

    select {
      background-color: lighten($primary-color, 15);
      border: none;
      color: $primary-title;
      height: 2.5em;
      width: 9em;
      font-size: 1.2em;
      margin-left: 1em;
    }
  }

  hr {
    width: 100%;
    border-color: $primary-color-light;
    opacity: 0.6;
  }

  .ngmp-movies-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
  }

  .ngmp-movie {
    margin-bottom: 1em;
    flex-basis: 25%;

    a {
      color: $primary-title;
    }

    figure {
      padding: 0;

      &:hover {
        opacity: 0.7;

        .ngmp-poster {
          transform: scale(1.05);
        }
      }

      img {
        -webkit-box-shadow: 0px 0px 10px 0px $shadow;
        -moz-box-shadow: 0px 0px 10px 0px $shadow;
        box-shadow: 0px 0px 10px 0px $shadow;
      }
    }

    .ngmp-poster {
      transition: all 0.2s;
      display: block;
    }

    .ngmp-movie-title,
    .ngmp-movie-year {
      text-decoration: none;
      display: inline-block;
    }

    .ngmp-movie-title {
      color: $orange;
      margin: 15px 0 5px 42px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 300px;
    }

    .ngmp-movie-year {
      color: $grey;
      margin: 0;
      margin-left: 34px;
    }
    .ngma-rateimg {
      height: 16px;
      position: relative;
      width: 25px;
    }
    .ngmp-noimageposter {
      text-align: center;
      height: 100px;
    }
    .ngmp-noimage {
      text-align: center;
      height: 100px;
      margin-right: 100px;
    }
  }
}

@media only screen and (max-width: 48em) {
  .main-container {
    flex-direction: column;

    .genres-list {
      width: 100%;
      height: auto;
      padding: 0.8em;
    }

    .genre-list-items {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      overflow-x: scroll;
      overflow-y: hidden;
      margin: 0;

      li {
        margin-right: 1em;
      }
    }

    .movies-container {
      width: 100%;

      .movie {
        flex-basis: 50% !important;
        justify-content: space-between;
      }

      figure {
        img {
          max-width: 8em;
        }

        &:hover {
          opacity: 0.7;

          .ngmp-poster {
            transform: scale(1.05);
          }
        }
      }

      .ngmp-poster {
        transition: all 0.2s;
        display: block;
      }
    }
  }
}

